<div class="row justify-content-md-center" style="margin-top: 100px">
    <div class="col-md-6">
        <h2 class="text-uppercase font-weight-bold text-center">Hi {{user.username}}, Welcome back to GoPark!</h2>
        <div class="row text-center" style="display:flex; flex-wrap:wrap;">
            <div class="thumbnail">
                <form action="/newSubscription" method="post" style="margin-top: 30px">
                    <input type="hidden" name="id" value={{user.id}}>
                    <i class="fas fa-envelope-open-text fa-4x"></i>
                    <p>NEWS</p>
                        {{#if user.subscription.news}}
                        <!-- Trigger the modal with a button -->
                             <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal">Unsubscribed</button>

                             <!-- Modal -->
                             <div class="modal fade" id="myModal" role="dialog">
                               <div class="modal-dialog">

                                 <!-- Modal content-->
                                 <div class="modal-content">
                                   <div class="modal-header">
                                     <button type="button" class="close" data-dismiss="modal">&times;</button>

                                   </div>
                                   <div class="modal-body">
                                     <p style="color:black">Do you want to unsubscribe?</p>
                                   </div>
                                   <div class="modal-footer">
                                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                     <input type="hidden" name="subscription[news]" value="false">
                                     <input type="submit" class="btn btn-dark" value="Yes">
                                   </div>
                                 </div>

                               </div>
                             </div>

                        {{else}}
                             <input type="hidden" name="subscription[news]" value="true">
                              <input type="submit" class="btn btn-dark" value="Subscribe">
                        {{/if}}
                 </form>
                 <form action="/eventsSubscription" method="POST"  style="margin-top: 30px">
                    <input type="hidden" name="id" value={{user.id}}>
                    <div>
                      <i class="fas fa-hiking fa-4x"></i>
                      <p>EVENTS</p>
                      {{#if user.subscription.events }}
                          <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal">Unsubscribed</button>
                          <!-- Modal -->
                          <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">

                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>

                                </div>
                                <div class="modal-body">
                                  <p style="color:black">Do you want to unsubscribe?</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                  <input type="hidden" name="subscription[events]" value="false">
                                  <input type="submit" class="btn btn-dark" value="Yes">
                                </div>
                              </div>

                            </div>
                          </div>
                      {{else}}
                        <input type="hidden" name="subscription[events]" value="true">
                        <input type="submit" class="btn btn-dark" value="Subscribe">

                      {{/if}}
                    </div>
                  </form>
             </div>
        </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
